.newProj{
    border: 1px hidden #268BD2;
    border-radius: 5px;
    float: left;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: #268BD2;
    width: 200px;
    max-height: 250px;
    min-height: 250px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 200px;
    cursor: pointer;
    -moz-box-shadow:    0px 0px 2px 2px #287CB7;
    -webkit-box-shadow: 0px 0px 2px 2px #287CB7;
    box-shadow:         0px 0px 2px 2px #287CB7;
    
    
/*    min-height: 300px;*/
/*    padding-top: ;*/
}

.addProj{
        border: 1px hidden red;
        min-height: 500px;
        float: left;
        margin-right: 50px;
}

.addProj #add_img{
        margin: 25px auto 25px auto;
        max-width: 50px;}

.addProj #add{
        border: 1px hidden red;
        border-radius: 3px;
        background-color: #EEE8D5;
        min-width: 90px;
        max-width: 80px;
        min-height: 100px;
        text-align: center;
        margin-left: 50px;
    
        -moz-box-shadow:    0px 0px 2px 2px #E8E2CE;
        -webkit-box-shadow: 0px 0px 2px 2px #E8E2CE;
        box-shadow:         0px 0px 2px 2px #E8E2CE;
        cursor: pointer;
/*        vertical-align: middle;*/
}

.addProj #add:hover{
        background-color: #EADEBE;}

.addProj #new{
        margin-left: 35px;
        margin-top: -10px;}

.newProj #projName{
        margin-top: 0px;}

.newProj #projHint{
        margin-top: -40px;
        margin-bottom: 60px;}

.newProj #memberImg{
        border: 1px hidden black;
        display: flex;
        float: left;
        margin-bottom: 7px;
/*        padding-bottom: 10px;*/
/*        margin-top: 95px;*/
/*        padding-bottom: 50px;*/
        background-color: inherit;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        -moz-box-shadow:    0px 0px 3px 3px #2582C4;
        -webkit-box-shadow: 0px 0px 3px 3px #2582C4;
        box-shadow:         0px 0px 3px 3px #2582C4;
}
