h1.osc {
font-family: Garamond, serif;
line-height: 1em;
color: #51bfe0;
font-weight:bold;
font-size: 60px;
text-shadow:0px 0px 0 rgb(57,142,157),1px 1px 0 rgb(28,113,128),2px 2px 0 rgb(-1,84,99), 3px 3px 0 rgb(-30,55,70),4px 4px 3px rgba(0,0,0,0.6),4px 4px 1px rgba(0,0,0,0.5),0px 0px 3px rgba(0,0,0,.2);}

p{
font-family: Courier, monospace;
position:absolute;
top:60px;
left:50px;
color: #368da8;
font-weight:bold;
font-size: 30px;
text-shadow:0px 0px 0 rgb(24,111,138),1px 1px 0 rgb(4,91,118), 2px 2px 0 rgb(-16,71,98),3px 3px 2px rgba(0,0,0,0),3px 3px 1px rgba(0,0,0,0.5),0px 0px 2px rgba(0,0,0,.2);}


body
{
	background: #EFEFEF;	
}
a:link
{
	font-weight:bold;
	font-family:"Courier",Times,sans-serif;
	font-size:20px;
	text-decoration: none;
}
a:link {color:#484848 ;}    
a:visited {color:#505050 ;} 
a:hover {color:#003366;}   
a:active {color:#707070 ;}

div#background { 
position: absolute;
	top: 140px
	left: 0px;
	width: 100%;
	height: 100%;
	
	opacity:0.8;
	filter:alpha(opacity=80);
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 30px; 
	left:50;
	width: 99.8%; 
	border-top: solid #000 1px; 
	border-bottom: solid #000 1px; 
	background-color: #009ECF;
} 

div#color
{	
	position: absolute;
	top: 140px;
	left: 50px;
	width: 90%;
	height: 100%;
	background-color: white ; 
	opacity:0.8;
	filter:alpha(opacity=80);
        display: inline-block;
	border: solid gray 2px;
}

div#background ul { 
margin: 0px; 
padding: 0px; 
font-family: Arial, Helvetica, sans-serif; 
font-size: small; 
color: #FFF; 
line-height: 30px; 
white-space: nowrap; 
} 

div#background li { 
list-style-type: none; 
display: inline; 
} 

div#background li a { 
text-decoration: none; 
padding: 7px 10px; 
color: #FFF; 
} 

div#background li a:link { 
color: #FFF: 
} 

div#background li a:visited { 
color: #CCC; 
} 

div#background li a:hover { 
font-weight: bold; 
color: #FFF; 
background-color: #3366FF; 
} 








